[submodule "IN2P3_workshop_2021/reveal.js"]
	path = IN2P3_workshop_2021/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "LSST_talk/reveal.js"]
	path = LSST_talk/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "CarbonFreeConf_2021_June/reveal.js"]
	path = CarbonFreeConf_2021_June/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "FORTH_Seminar2021/reveal.js"]
	path = FORTH_Seminar2021/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Euclid_France_2021/reveal.js"]
	path = Euclid_France_2021/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "LSST_France_Nov2021/reveal.js"]
	path = LSST_France_Nov2021/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "WL_beyond_2pt_conf/reveal.js"]
	path = WL_beyond_2pt_conf/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Euclid_Oslo_2022/reveal.js"]
	path = Euclid_Oslo_2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
